.nav-right .title-list nav a .post-title, .nav-right .title-list #local-search-result a .post-title {
    color: #383636;
}

.nav-right .title-list nav a .post-date, .nav-right .title-list #local-search-result a .post-date {
    color: #5e5e5f;
}

.nav-right nav a.hover, #local-search-result a.hover {
    background-color: #e2e0e0;
}